 .box{
	 width:200px;
	 height: 970px;
	 background: darkviolet;
	 border:8px solid darkviolet;
	 float: left;
    text-align: center;
 }

 p{
 	font-weight: bald;
 }
 .two{
 width:800px;
	 height: 970px;
	 background: white;
	 border:8px solid white;
	 float: left;
	 padding:10px;
 }